body {
    background-color:#1E90FF;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14179/image.jpg');
    opacity: 1;
    border-radius: 8px;
   
  }
  
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .image {
    width: 370px;
    margin-top: 50px;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      margin: 0 10%;
    }
  
    .image {
      width: 100%;
      display: flex;
    }
  }